<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chinasofti.mapper.PrescriptionMapper" >
  <resultMap id="BaseResultMap" type="com.chinasofti.pojo.Prescription" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="prescriptionNo" property="prescriptionno" jdbcType="VARCHAR" />
    <result column="takeNum" property="takenum" jdbcType="INTEGER" />
    <result column="medicinePrice" property="medicineprice" jdbcType="DOUBLE" />
    <result column="medicineNo" property="medicineno" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, prescriptionNo, takeNum, medicinePrice, medicineNo
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.chinasofti.pojo.PrescriptionExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from prescription
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from prescription
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from prescription
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.chinasofti.pojo.PrescriptionExample" >
    delete from prescription
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.chinasofti.pojo.Prescription" >
    insert into prescription (id, prescriptionNo, takeNum, 
      medicinePrice, medicineNo)
    values (#{id,jdbcType=INTEGER}, #{prescriptionno,jdbcType=VARCHAR}, #{takenum,jdbcType=INTEGER}, 
      #{medicineprice,jdbcType=DOUBLE}, #{medicineno,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.chinasofti.pojo.Prescription" >
    insert into prescription
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="prescriptionno != null" >
        prescriptionNo,
      </if>
      <if test="takenum != null" >
        takeNum,
      </if>
      <if test="medicineprice != null" >
        medicinePrice,
      </if>
      <if test="medicineno != null" >
        medicineNo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="prescriptionno != null" >
        #{prescriptionno,jdbcType=VARCHAR},
      </if>
      <if test="takenum != null" >
        #{takenum,jdbcType=INTEGER},
      </if>
      <if test="medicineprice != null" >
        #{medicineprice,jdbcType=DOUBLE},
      </if>
      <if test="medicineno != null" >
        #{medicineno,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.chinasofti.pojo.PrescriptionExample" resultType="java.lang.Integer" >
    select count(*) from prescription
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update prescription
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.prescriptionno != null" >
        prescriptionNo = #{record.prescriptionno,jdbcType=VARCHAR},
      </if>
      <if test="record.takenum != null" >
        takeNum = #{record.takenum,jdbcType=INTEGER},
      </if>
      <if test="record.medicineprice != null" >
        medicinePrice = #{record.medicineprice,jdbcType=DOUBLE},
      </if>
      <if test="record.medicineno != null" >
        medicineNo = #{record.medicineno,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update prescription
    set id = #{record.id,jdbcType=INTEGER},
      prescriptionNo = #{record.prescriptionno,jdbcType=VARCHAR},
      takeNum = #{record.takenum,jdbcType=INTEGER},
      medicinePrice = #{record.medicineprice,jdbcType=DOUBLE},
      medicineNo = #{record.medicineno,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.chinasofti.pojo.Prescription" >
    update prescription
    <set >
      <if test="prescriptionno != null" >
        prescriptionNo = #{prescriptionno,jdbcType=VARCHAR},
      </if>
      <if test="takenum != null" >
        takeNum = #{takenum,jdbcType=INTEGER},
      </if>
      <if test="medicineprice != null" >
        medicinePrice = #{medicineprice,jdbcType=DOUBLE},
      </if>
      <if test="medicineno != null" >
        medicineNo = #{medicineno,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chinasofti.pojo.Prescription" >
    update prescription
    set prescriptionNo = #{prescriptionno,jdbcType=VARCHAR},
      takeNum = #{takenum,jdbcType=INTEGER},
      medicinePrice = #{medicineprice,jdbcType=DOUBLE},
      medicineNo = #{medicineno,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>