<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cicms.mapper.TakeMedicineMapper" >
  <resultMap id="BaseResultMap" type="com.cicms.pojo.TakeMedicine" >
    <id column="takeNo" property="takeno" jdbcType="VARCHAR" />
    <result column="payNo" property="payno" jdbcType="VARCHAR" />
    <result column="takeType" property="taketype" jdbcType="INTEGER" />
    <result column="prescriptionNo" property="prescriptionno" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    takeNo, payNo, takeType, prescriptionNo
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.cicms.pojo.TakeMedicineExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from take_medicine
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from take_medicine
    where takeNo = #{takeno,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from take_medicine
    where takeNo = #{takeno,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.cicms.pojo.TakeMedicineExample" >
    delete from take_medicine
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.cicms.pojo.TakeMedicine" >
    insert into take_medicine (takeNo, payNo, takeType, 
      prescriptionNo)
    values (#{takeno,jdbcType=VARCHAR}, #{payno,jdbcType=VARCHAR}, #{taketype,jdbcType=INTEGER}, 
      #{prescriptionno,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cicms.pojo.TakeMedicine" >
    insert into take_medicine
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="takeno != null" >
        takeNo,
      </if>
      <if test="payno != null" >
        payNo,
      </if>
      <if test="taketype != null" >
        takeType,
      </if>
      <if test="prescriptionno != null" >
        prescriptionNo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="takeno != null" >
        #{takeno,jdbcType=VARCHAR},
      </if>
      <if test="payno != null" >
        #{payno,jdbcType=VARCHAR},
      </if>
      <if test="taketype != null" >
        #{taketype,jdbcType=INTEGER},
      </if>
      <if test="prescriptionno != null" >
        #{prescriptionno,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.cicms.pojo.TakeMedicineExample" resultType="java.lang.Integer" >
    select count(*) from take_medicine
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update take_medicine
    <set >
      <if test="record.takeno != null" >
        takeNo = #{record.takeno,jdbcType=VARCHAR},
      </if>
      <if test="record.payno != null" >
        payNo = #{record.payno,jdbcType=VARCHAR},
      </if>
      <if test="record.taketype != null" >
        takeType = #{record.taketype,jdbcType=INTEGER},
      </if>
      <if test="record.prescriptionno != null" >
        prescriptionNo = #{record.prescriptionno,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update take_medicine
    set takeNo = #{record.takeno,jdbcType=VARCHAR},
      payNo = #{record.payno,jdbcType=VARCHAR},
      takeType = #{record.taketype,jdbcType=INTEGER},
      prescriptionNo = #{record.prescriptionno,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.cicms.pojo.TakeMedicine" >
    update take_medicine
    <set >
      <if test="payno != null" >
        payNo = #{payno,jdbcType=VARCHAR},
      </if>
      <if test="taketype != null" >
        takeType = #{taketype,jdbcType=INTEGER},
      </if>
      <if test="prescriptionno != null" >
        prescriptionNo = #{prescriptionno,jdbcType=VARCHAR},
      </if>
    </set>
    where takeNo = #{takeno,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cicms.pojo.TakeMedicine" >
    update take_medicine
    set payNo = #{payno,jdbcType=VARCHAR},
      takeType = #{taketype,jdbcType=INTEGER},
      prescriptionNo = #{prescriptionno,jdbcType=VARCHAR}
    where takeNo = #{takeno,jdbcType=VARCHAR}
  </update>
</mapper>